In [3]:
import pandas as pd
s=pd.Series()
print(s)

Series([], dtype: float64)

In [6]:
import pandas as pd
import numpy as np
list1=['a','b','c','d','e']
data=np.array(list1)
s=pd.Series(data)
print("Numpy data representation \n",data,"\n")
print("Numpy Series representation \n",s,"\n")

Numpy data representation
 ['a' 'b' 'c' 'd' 'e']

Numpy Series representation
 0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
import pandas as pd
import numpy as np
data=np.array(['a','b','c','d','e'])
s=pd.Series(data,index=[100,101,102,103,104])
print(s)

100    a
101    b
102    c
103    d
104    e
dtype: object

In [13]:
import pandas as pd
data={'a':0.,'b':1.,"c":2.,"d":3.}
s=pd.Series(data,index =['b','c','d','e'])
print(s)

b    1.0
c    2.0
d    3.0
e    NaN
dtype: float64

In [3]:
s=pd.Series(5,index=[0,1,2,3,4])
print(s)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [12]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#entrieve the first three element
print(s[:2])

a    1
b    2
dtype: int64

In [9]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#entrieve the last three element
print(s[-2:])

d    4
e    5
dtype: int64

In [10]:
print(s[-4:])

b    2
c    3
d    4
e    5
dtype: int64

In [15]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#entrieve a single element using lable(index)
print(s['a'],s['e'])

mul1=s['a']*s['c']
print(mul1)

1 5
3

In [17]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)
print(s[['a','c','b','e']])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
c    3
b    2
e    5
dtype: int64

In [19]:
import pandas as pd
data=[1,2,3,4,5]
sf=pd.Series(data)
df=pd.DataFrame(data)
print(sf)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   0
0  1
1  2
2  3
3  4
4  5

In [20]:
data=[['Alwx',12],['Bob',12],['Clarke',12]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alwx   12
1     Bob   12
2  Clarke   12

In [21]:
data={'Name':['Tom','JoE','Rocky'],'Age':[12,31,12]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   12
1    JoE   31
2  Rocky   12

In [22]:
data={'Name':['Tom','JoE','Rocky'],'Age':[12,31,12]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3'])
print(df)

        Name  Age
rank1    Tom   12
rank2    JoE   31
rank3  Rocky   12

In [25]:
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [28]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d']),
   'three':pd.Series([10,20,30],index=['a','b','c'])}
df=pd.DataFrame(d)
print("our dataframe is:")
print(df)
print("Deleting the first column using del function:")
del df['one']
print(df)
print("Deleting the another column using pop function:")
df.pop('two')
print(df)

our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using del function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting the another column using pop function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [29]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [32]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df[1:2])

   one  two
b  2.0    2